export(BackwardEliminate)
export(ForwardSelect)
export(FitModel)
export(CrossValidate)
export(ImputeData)
export(scoef)
export(MakeSplineStr)
export(CrossValidate)
export(GetVariableImpacts)
export(WideToLong)
export(LongToWide)
export(GetRelatedVars)
export(GetVariableGroupImpact)
export(ReformatNames)

S3method(print, gfo)
S3method(summary, gfo)
S3method(coef, gfo)
S3method(predict, gfo)
S3method(`[`, mids)
S3method(WideToLong, mids)
S3method(WideToLong, data.frame)
S3method(LongToWide, data.frame)
